html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.chartContainer {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  box-sizing: border-box;
}